.table{
    margin-top: 1%;
    width:30%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.table{
    border-radius: 15px;
    padding: 1%;
    background-color: aliceblue;
}

.half{
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}