<div class="space">
    <p-dropdown [options]="listOfPossibleCoins" optionLabel="display" optionValue="id"
        (ngModelChange)="getCompanyData($event)" selectedItemsLabel="{0} items selected" id="selectedCoin"
        [(ngModel)]="selectedCoin">
    </p-dropdown>
</div>

<div class="half">
    <div class="table">
        <p-table [value]="company" [styleClass]="size.class">
            <ng-template pTemplate="header">
                <tr>
                    <th>Company name</th>
                    <th>Holdings</th>
                    <th>Supply %</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-company>
                <tr>
                    <td>{{company.name}}</td>
                    <td>{{company.totalHoldings}}</td>
                    <td>{{company.percentageTotalSupply}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="half">
    <div class="table">
        <p-table [value]="marketCap" [styleClass]="size.class">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Market Cap</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-marketCapData let-i="rowIndex">
                <tr>
                    <td>{{ marketCapID[i] }}</td>
                    <td>{{ marketCapData | number }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="half">
    <div class="table">
        <p-table [value]="marketCapPercentage" [styleClass]="size.class">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Market Cap %</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-marketCapPercentageData let-i="rowIndex">
                <tr>
                    <td>{{ marketCapPercentageID[i] }}</td>
                    <td>{{ marketCapPercentageData | number }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>