.top{
    margin-top: 2%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.linechart{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    box-sizing: border-box;
}

.space{
    padding-left: 3%;
}