<div class="top">
  <div class="container">
    <div class="space">
      <p-selectButton [(ngModel)]="chartPeriod" [options]="periodOptions" [multiple]="false" optionLabel="name"
        optionValue="value" (onChange)="getChartValues()">
      </p-selectButton>
    </div>
    <div class="space">
      <form [formGroup]="trendTypeSelect">
        <p-selectButton formControlName="trendType" [options]="typeOfMarket" optionLabel="label" optionValue="value"
          (onChange)="getChartValues()">
        </p-selectButton>
      </form>
    </div>
  </div>
  <div class="linechart top">
    <canvas baseChart [data]="lineChartData" [options]="styledChartOptions">
    </canvas>
  </div>
</div>