<div class="space">
    <p-dropdown [options]="listOfPossibleCoins" (onChange)="loadData()" [(ngModel)]="selectedCoin" optionLabel="display"
        optionValue="id" selectedItemsLabel="{0} items selected">
    </p-dropdown>
    <img src={{imageUrl}} alt="coin logo" class="coin-logo">
</div>
<div *ngIf="showIcon">
    <div class="container">
        <div>
            <app-trend-chart [id]="selectedCoin"></app-trend-chart>
        </div>
        <div>
            <app-keyvalue [id]="selectedCoin" (imageIdChange)="onImageIdChange($event)"></app-keyvalue>
        </div>
    </div>
    <!-- <div>
        <app-top10coins></app-top10coins>
    </div> -->
</div>