.container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.space{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

/* styles.css */
.coin-logo {
    margin-left: 1%;
    width: 3%;
    height: 3%;
  }

.frame{
    border-radius: 5px;
    border-style: dashed;
    border-width: 2px;
    border-color: black;
}

.spaceBottom{
    border-radius: 15px;
    border-color: black;
    border-style: dashed;
    margin-bottom: 1%;
}

.spaceTop{
    border-radius: 15px;
    border-color: black;
    border-style: dashed;
    margin-top: 11%;
}