<div class="navContainer">
  <div class="buttonObject">
    <p-button label="Coin Overview" styleClass="p-button-raised p-button-text p-button-secondary"
      (click)="loadOverview()"></p-button>
  </div>
  <div class="buttonObject">
    <p-button label="Top 10 Overview" styleClass="p-button-raised p-button-text p-button-secondary"
      (click)="loadTop10Coins()"></p-button>
  </div>
  <div class="buttonObject">
    <p-button label="Global Data" styleClass="p-button-raised p-button-text p-button-secondary"
      (click)="loadExchangeInfo()"></p-button>
  </div>
  <!-- <div>
    <button pButton pRipple label="Print Screen" class="p-button-success" (click)="printScreen()"></button>
  </div> -->
</div>

<div class="displays">
  <router-outlet></router-outlet>
</div>